@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

::-webkit-scrollbar {
  width:.5rem;
  background-color: rgba(7, 7, 7, 0.253);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}
