#tsparticles {
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    width: 100vw;
    height: 100vh;
    background: #00c6ff;
    background: linear-gradient(to top, #00c6ff, #0072ff);
  }
  